*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  padding:10%;
}

input, textArea, button, select{
  margin-bottom:1em;
} 

main{
  max-width:500px;
  margin: 0 auto;
}