header{
  display:flex;
  justify-content:space-between;
  position:sticky;
  top:0;
  height:100px;
  box-shadow:var(--navShadow);
  font-family:var(--fontBebas);
}

.brand__name{
  display:inline-flex;
  align-items:center;
  margin-left:100px;
  font-size:45px;
  font-weight:900;
}

nav{
  display:inline-flex;
  align-items:flex-end;
  margin-right:100px;
}
nav .navigation{
  display:inline-flex;
  justify-content:space-between;
  align-items:flex-end;
  margin-right:80px;
}

.topbar__menu__item{
  //border:1px solid purple;
  width:90px;
  height:44px;
  border-radius:2px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:all 400ms;

  background:
  linear-gradient(
    to right,
    transparent,
    transparent
  ),
  linear-gradient(
    to right,
    var(--lightGrayBg),
   var(--buttonBg),
   var(--lightGrayBg)
);
background-size: 100% 3px, 0 3px;
background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
}

.topbar__menu__item:nth-child(0),
.topbar__menu__item:nth-child(1), .topbar__menu__item:nth-child(2), .topbar__menu__item:nth-child(3){
  margin-right:10px;

}

.topbar__menu__item__area{
  font-size:20px;
}

.topbar__menu__item:hover{
  text-decoration:none;
  color:var(--buttonBg);
  background-size: 0 3px, 100% 3px;
}

.topbar__menu__item.active{
  color:var(--backgroundColor);
  
  background-color:var(--buttonBg);
}


.mobile__menu{
  display:none;
}

