@media screen and (max-width:700px){
  .post__area__text__title{
    font-size:14px;
  }
  .post__area__body{
    font-size:11px;
  }
  .post__area__end{
    font-size:10px;
  }
  .post__buttons__view a{
    font-size:12px;
  }
}
@media screen and (min-width:335px) and (max-width:400px){
  main{
    width:calc(100% - 80px);
    margin:15px 40px;
    //border:1px solid green;
  }
}

@media screen and (min-width:401px) and (max-width:470px){
  main{
    width:calc(100% - 100px);
    margin:15px 50px;
    //border:1px solid blue;
  }
}

@media screen and (min-width:471px) and (max-width:550px){
  main{
    width:calc(100% - 180px);
    margin:15px 90px;
    //border:1px solid violet;
  }
  
}

@media screen and (min-width:551px) and (max-width:645px){
  main{
    //border:1px solid lime;
    width:calc(100% - 100px);
    margin:15px 50px;
    
  }
  section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
 article{
   width:calc(100% - 52%);
 }
 .post__area{
   padding:40px 15px 25px 15px;
 }
}

@media screen and (min-width:646px) and (max-width:780px){
  main{
    //border:1px solid red;
    width:calc(100% - 100px);
    margin:15px 50px;
  }
  section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  article{
    width:calc(100% - 55%);
    margin:20px 0;
  }
  .post__area{
    padding:40px 20px 30px 20px;
  }
  .post__area__text__title{
    height:40px;
  }
}

@media screen and (min-width:781px) and (max-width:915px){
  main{
    width:calc(100% - 100px);
    margin:15px 50px;
    //border:1px solid blue;
  }
  section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  article{
    width:calc(100% - 60%);
    margin:20px 20px 20px 10px;
  }
  .post__area{
    padding:40px 20px 30px 20px;
  }
  .post__area__text__title{
    height:40px;
  }
}

@media screen and (min-width:916px) and (max-width:1040px){
  main{
    width:calc(100% - 160px);
    margin:15px 80px;
    //border:1px solid black;
  }
  section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  article{
    width:calc(100% - 60%);
    margin:20px auto;
  }
  .post__area{
    padding:40px 20px 30px 20px;
  }
  .post__area__text__title{
    height:45px;
  }
  .post__buttons{
    //border:1px solid red;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  .post__buttons__reactions{
    width:calc(100% - 50%);
    //border:1px solid black;
  }
  .reaction__button{
    padding:5px;
  }
  .post__buttons__view{
    width:calc(100% - 50%);
    margin:10px 15px 10px 20px;
  }
  
}

@media screen and (min-width:1041px) and (max-width:1800px){
  main{
    width:calc(100% - 200px);
    margin:15px 100px;
    //border:1px solid black;
  }
  section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  article{
    width:calc(100% - 70%);
    margin:20px auto;
  }
  .post__area{
    padding:40px 20px 30px 20px;
  }
  .post__area__text__title{
    height:45px;
  }
  .post__buttons{
    //border:1px solid red;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  .post__buttons__reactions{
    width:calc(100% - 50%);
    //border:1px solid black;
  }
  .reaction__button{
    padding:10px 4px;
  }
  .post__buttons__view{
    width:calc(100% - 50%);
    margin:10px 15px 10px 20px;
  }
  
}

@media screen and (min-width:1801px){
  main{
    width:calc(100% - 460px);
    margin:15px 230px;
    //border:1px solid black;
  }
  section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  article{
    width:calc(100% - 70%);
    margin:20px 20px;
  }
  .post__area{
    padding:40px 20px 30px 20px;
  }
  .post__area__text__title{
    height:45px;
  }
  .post__buttons{
    //border:1px solid red;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  .post__buttons__reactions{
    width:calc(100% - 50%);
    //border:1px solid black;
  }
  .reaction__button{
    padding:10px 4px;
  }
  .post__buttons__view{
    width:calc(100% - 50%);
    margin:10px 15px 10px 20px;
  }
  
}
